html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  text-align: center; }

#featuredPost .featuredText, #postSummaries .summary {
  text-align: left;
  padding: 5%; }

.row {
  overflow: auto; }

#featuredPost::-webkit-scrollbar {
  display: none; }

#featuredPost {
  width: 50%;
  float: left;
  background: #FFF7F5;
  opacity: .8;
  overflow: scroll;
  height: 100vh; }
  @media screen and (max-width: 1100px) {
    #featuredPost {
      width: 60%; } }
  @media screen and (max-width: 665px) {
    #featuredPost {
      float: none;
      width: 100%; } }
  #featuredPost .featuredImg {
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../img/rain.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../img/rain.jpeg"); }
    @media screen and (max-width: 665px) {
      #featuredPost .featuredImg {
        height: 25vh; } }
  #featuredPost .featuredText {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0; }
    #featuredPost .featuredText h1 {
      letter-spacing: 5px; }
    #featuredPost .featuredText .featured {
      font-size: 11px;
      font-weight: normal;
      letter-spacing: 2px;
      color: gray;
      font-family: sans-serif; }

#postSummaries {
  width: 50%;
  float: left;
  text-align: left;
  font-family: sans-serif; }
  @media screen and (max-width: 1100px) {
    #postSummaries {
      width: 40%; } }
  @media screen and (max-width: 665px) {
    #postSummaries {
      float: none;
      width: 100%; } }
  #postSummaries .summary {
    width: 100%;
    height: 25vh;
    background-size: cover; }
    #postSummaries .summary:hover {
      height: 29vh;
      -webkit-transition: height .3s linear; }
      @media screen and (max-height: 1140px) {
        #postSummaries .summary:hover {
          height: 27vh; } }
    @media screen and (max-height: 1140px) {
      #postSummaries .summary {
        height: 25vh;
        overflow: hidden; } }
  #postSummaries #post1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/tea.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/tea.jpg"); }
  #postSummaries #post2 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/cabin.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/cabin.jpg"); }
  #postSummaries #post3 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/girl.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/girl.jpg");
    padding-top: 7%; }
  #postSummaries #post4 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/stars.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/stars.jpg");
    padding-top: 8%; }
  #postSummaries .summaryText {
    position: relative;
    top: 9%;
    right: auto;
    bottom: 5%;
    left: auto;
    font-weight: lighter;
    color: lightgray; }
    #postSummaries .summaryText h2 {
      letter-spacing: 4px;
      font-family: 'courier'; }
    #postSummaries .summaryText p {
      font-size: .9em; }
    #postSummaries .summaryText .recent {
      font-size: 11px;
      font-weight: normal;
      letter-spacing: 2px;
      color: lightgray; }
      @media screen and (max-height: 1140px) {
        #postSummaries .summaryText .recent {
          display: none; } }
    @media screen and (max-height: 1140px) {
      #postSummaries .summaryText {
        position: relative;
        top: 0%;
        right: auto;
        bottom: 5%;
        left: auto; } }

@media screen and (max-height: 1024px) {
  .hide {
    display: none; } }

.pageWrapper {
  max-width: 98%;
  margin-left: auto;
  margin-right: auto; }
  .pageWrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1100px) {
    .pageWrapper {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .pageWrapper::after {
        clear: both;
        content: "";
        display: table; } }

.contentWrapper {
  height: 100%; }

.footer {
  clear: both;
  margin: 5% 0 2% 0;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1px;
  color: gray; }
  .footer hr {
    color: gray;
    width: 70%; }

.header {
  margin-top: 0 !important;
  background-image: -webkit-linear-gradient(transparent, transparent), url("../img/forest.jpeg");
  background-image: linear-gradient(transparent, transparent), url("../img/forest.jpeg");
  background-size: cover;
  height: 50vh; }
  .header .headerText {
    position: relative;
    top: 30%;
    right: auto;
    bottom: 10%;
    left: auto;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 5px;
    color: #444444;
    text-shadow: 1px 1px 1px #FFF7F5; }
    .header .headerText h1 {
      font-size: 3em; }

.navbar {
  position: top;
  z-index: 1;
  width: 100%;
  margin: 0 auto; }
  .navbar ul {
    padding-left: 0;
    width: 100%;
    background-color: #444444;
    list-style-type: none;
    margin: 0 auto;
    height: 5vh; }
    @media screen and (max-height: 1140px) {
      .navbar ul {
        height: 6vh; } }
    .navbar ul li {
      display: inline-block;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 2px;
      color: white;
      margin: 1%;
      padding: 0 0 4px;
      color: white; }
      .navbar ul li:hover {
        letter-spacing: 3px;
        color: #FFF7F5;
        border-bottom: 2px solid #FFF7F5;
        -webkit-transition: border .4s slide-in;
        -webkit-transition: color .2s linear; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px; }

body {
  background: #FFF7F5;
  font-family: 'courier'; }

body::-webkit-scrollbar {
  display: none; }

a {
  text-decoration: none;
  color: white; }

.navbar img {
  width: 25px;
  opacity: .7; }

.likesComments {
  overflow: auto;
  display: block; }
  .likesComments img {
    margin-top: 8px;
    width: 25px;
    float: left;
    opacity: .6;
    margin-right: 7px; }
  .likesComments p {
    float: left; }
  .likesComments .likes, .likesComments .comments {
    display: block;
    float: left;
    margin-right: 5%; }
    @media only screen and (max-height: 1024px) {
      .likesComments .likes, .likesComments .comments {
        display: none; } }

#featuredPost .likesComments {
  height: 25vh;
  width: 100%;
  color: white;
  padding: 2% 5% 2% 5%;
  opacity: .7;
  background-color: #444444;
  overflow: hidden; }
  #featuredPost .likesComments .commentBox {
    text-align: left;
    clear: both; }
    #featuredPost .likesComments .commentBox textarea {
      border-color: #777777;
      background: #444444;
      border-radius: 3px;
      height: 7vh;
      width: 75%;
      font-size: 14px;
      line-height: 20px;
      color: white;
      font-family: 'courier'; }
  #featuredPost .likesComments .fakeComments .comment1 {
    text-align: left;
    overflow: auto;
    margin-top: 15px; }
    #featuredPost .likesComments .fakeComments .comment1 h3 {
      font-size: 16px;
      margin-bottom: 3px;
      color: black; }
    #featuredPost .likesComments .fakeComments .comment1 p {
      font-size: 14px;
      line-height: 20px;
      margin-top: 5px;
      padding-left: 10px; }

@font-face {
  font-family: 'courier';
  src: url("../fonts/Courier_Prime.ttf"); }

/*# sourceMappingURL=main.css.map */
