html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  text-align: center; }

#featuredPost .featuredText, #postSummaries .summary {
  text-align: left;
  padding: 5%; }

.row {
  overflow: auto; }

#featuredPost {
  width: 50%;
  float: left;
  background: white;
  opacity: .8;
  height: 100vh; }
  #featuredPost .featuredImg {
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/forest.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/forest.jpeg"); }
  #featuredPost .featuredText {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0; }
    #featuredPost .featuredText h1 {
      letter-spacing: 5px; }

#postSummaries {
  width: 50%;
  float: left;
  text-align: left; }
  #postSummaries:hover {
    cursor: pointer; }
  #postSummaries .summary {
    width: 100%;
    height: 25vh;
    background-size: cover; }
  #postSummaries #post1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/tea.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/tea.jpg"); }
  #postSummaries #post2 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/cabin.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/cabin.jpg"); }
  #postSummaries #post3 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/girl.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/girl.jpg");
    padding-top: 7%; }
  #postSummaries #post4 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/stars.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/stars.jpg");
    padding-top: 8%; }
  #postSummaries .summaryText {
    position: relative;
    top: 10%;
    right: auto;
    bottom: 5%;
    left: auto;
    font-weight: lighter;
    color: lightgray; }
    #postSummaries .summaryText h2 {
      letter-spacing: 3px; }
    #postSummaries .summaryText p {
      font-size: .9em; }

.pageWrapper {
  max-width: 98%;
  margin-left: auto;
  margin-right: auto; }
  .pageWrapper::after {
    clear: both;
    content: "";
    display: table; }

.header {
  margin-top: 0 !important;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/girl2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/girl2.jpg");
  background-size: cover;
  height: 50vh; }
  .header .headerText {
    position: relative;
    top: 30%;
    right: auto;
    bottom: 10%;
    left: auto;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 5px;
    color: white; }

.navbar {
  position: top;
  z-index: 1;
  width: 100%;
  margin: 0 auto; }
  .navbar ul {
    overflow: auto;
    width: 100%;
    background-color: #444444;
    list-style-type: none;
    margin: 0 auto; }
    .navbar ul li {
      display: inline-block;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 2px;
      color: white;
      margin: 2%;
      padding: 0 0 4px;
      color: white; }
      .navbar ul li:hover {
        color: #DAD4CA;
        border-bottom: 2px solid #DAD4CA;
        -webkit-transition: border .4s slide-in;
        -webkit-transition: color .2s linear;
        cursor: pointer; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px; }

body {
  background: #DAD4CA;
  font-family: sans-serif; }

a {
  text-decoration: none; }

.likesComments {
  overflow: auto; }
  .likesComments img {
    margin-top: 8px;
    width: 25px;
    float: left;
    opacity: .6;
    margin-right: 7px; }
  .likesComments p {
    float: left; }
  .likesComments .likes, .likesComments .comments {
    float: left;
    margin-right: 5%; }

/*# sourceMappingURL=main.css.map */
