%centeredText {
  text-align: center;
}

%centeredBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%overflow {
  overflow: auto;
}

%columnText {
  text-align: left;
  padding: 5%;
}
