// Descriptive Color Variables
$navBrown: #444444;
$white: white;
$backgroundWhite: #FFF7F5;
$navHover: $backgroundWhite;

// Functional Color Variables


// Asset Paths

$path-img: "../img";
$path-font: "../fonts";
