// Descriptive Color Variables
$navBrown: #444444;
$white: white;
$backgroundWhite: #FFF7F5;
$navHover: $backgroundWhite;


// Asset Paths

$path-img: "../img";
$path-font: "../fonts";


// Media Queries

$brk-smallDesktop: "(max-height: 1060px)";
