// Descriptive Color Variables
$navBrown: #444444;
$white: white;
$backgroundWhite: #FFF7F5;
$navHover: $backgroundWhite;


// Asset Paths

$path-img: "../img";
$path-font: "../fonts";


// Media Queries

$brk-smallDesktop: "(max-height: 1140px)";
$brk-smallDesktopicons: "(max-height: 1024px)";
$brk-smallDesktopcontainer: "(max-width: 1100px)";
$brk-smallerDesktopHeight: "(max-height: 920px)";

$brk-oneColumn: "(max-width: 665px)";
$brk-mobileLarge: "(max-width: 450px)";
$brk-mobilesmall: "(max-width: 336px)";
