.navbar {
  position: top;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  ul {
    overflow: auto;
    width: 100%;
    background-color: $navBrown;
    list-style-type: none;
    margin: 0 auto;
    li {
      display: inline-block;
      @include text(12px, normal, null, 2px, $white);
      @include margin(2%);
      @include padding(0 0 4px 0);
      color: white;
      &:hover {
        color: $navHover;
        border-bottom: 2px solid $navHover;
        -webkit-transition: border .4s slide-in;
        -webkit-transition: color .2s linear;
        cursor: pointer;
      }
    }
  }
}
