
//

// @include background-image(linear-gradient(rgba($spaceOrange, 0.45),rgba($spaceOrange, 0.45)),url("#{$path-img}/copernicus.jpg"));

  // @include background-image(linear-gradient(transparent 100%, white 10px),url("#{$path-img}/girl.jpg"));



.row {
  overflow: auto;
}

#featuredPost::-webkit-scrollbar {
    display: none;
}

#featuredPost {
  width: 50%;
  float: left;
  background: $white;
  opacity: .8;
  overflow: scroll;
  height: 100vh;
  .featuredImg {
    height: 50vh;
    width: 100%;
    background-size: cover;
    @include background-image(linear-gradient(rgba(black, 0.25),rgba(black, 0.25)),url("#{$path-img}/forest.jpeg"));
  }
  .featuredText {
    @extend %columnText;
    @include text(14px, normal, 24px, 0, null);
    h1 {
      letter-spacing: 5px;
    }
    .featured {
      @include text(11px, normal, null, 2px, lightgray);
    }
  }
}

#postSummaries {
  width: 50%;
  float: left;
  text-align: left;
  &:hover {
    cursor: pointer;
  }
  .summary {
    @extend %columnText;
    width: 100%;
    height: 25vh;
    background-size: cover;
    &:hover {
      height: 29vh;
      -webkit-transition: height .3s linear;
    }
  }
  #post1 {
      @include background-image(linear-gradient(rgba(black, 0.35),rgba(black, 0.35)),url("#{$path-img}/tea.jpg"));
  }
  #post2 {
      @include background-image(linear-gradient(rgba(black, 0.35),rgba(black, 0.35)),url("#{$path-img}/cabin.jpg"));
  }
  #post3 {
      @include background-image(linear-gradient(rgba(black, 0.35),rgba(black, 0.35)),url("#{$path-img}/girl.jpg"));
      padding-top: 7%;
  }
  #post4 {
      @include background-image(linear-gradient(rgba(black, 0.35),rgba(black, 0.35)),url("#{$path-img}/stars.jpg"));
      padding-top: 8%;
  }
  .summaryText {
    @include position(relative,9% auto 5% auto);
    @include text(null, lighter, null, null, lightgray);
    h2 {
      letter-spacing: 3px;
    }
    p {
      font-size: .9em;
    }
    .recent {
      @include text(11px, normal, null, 2px, lightgray);
    }
  }
}
