// Styles for blog posts

.row {
  overflow: auto;
}

// Styles for the featured post, left side

#featuredPost::-webkit-scrollbar {
    display: none;
}

#featuredPost {
  width: 50%;
  float: left;
  background: $backgroundWhite;
  opacity: .8;
  overflow: scroll;
  height: 100vh;
  @media screen and #{$brk-smallDesktopcontainer} {
    width: 60%;
  }
  .featuredImg {
    height: 50vh;
    width: 100%;
    background-size: cover;
    @include background-image(linear-gradient(rgba(black, 0.05),rgba(black, 0.05)),url("#{$path-img}/rain.jpeg"));
  }
  .featuredText {
    @extend %columnText;
    @include text(14px, normal, 24px, 0, null);
    h1 {
      letter-spacing: 5px;
    }
    .featured {
      @include text(11px, normal, null, 2px, gray);
      font-family: sans-serif;
    }
  }
}

// Styles for the recent posts, right side



#postSummaries {
  width: 50%;
  float: left;
  text-align: left;
  font-family: sans-serif;
  @media screen and #{$brk-smallDesktopcontainer} {
    width: 40%;
  }
  .summary {
    @extend %columnText;
    width: 100%;
    height: 25vh;
    background-size: cover;
    &:hover {
      height: 29vh;
      -webkit-transition: height .3s linear;
      @media screen and #{$brk-smallDesktop} {
        height: 27vh;
      }
    }
    @media screen and #{$brk-smallDesktop} {
      height: 25vh;
      overflow: hidden;
    }
  }
  #post1 {
      @include background-image(linear-gradient(rgba(black, 0.35),rgba(black, 0.35)),url("#{$path-img}/tea.jpg"));
  }
  #post2 {
      @include background-image(linear-gradient(rgba(black, 0.35),rgba(black, 0.35)),url("#{$path-img}/cabin.jpg"));
  }
  #post3 {
      @include background-image(linear-gradient(rgba(black, 0.35),rgba(black, 0.35)),url("#{$path-img}/girl.jpg"));
      padding-top: 7%;
  }
  #post4 {
      @include background-image(linear-gradient(rgba(black, 0.35),rgba(black, 0.35)),url("#{$path-img}/stars.jpg"));
      padding-top: 8%;
  }
  .summaryText {
    @include position(relative,9% auto 5% auto);
    @include text(null, lighter, null, null, lightgray);
    h2 {
      letter-spacing: 4px;
      font-family: 'courier';
    }
    p {
      font-size: .9em;
    }
    .recent {
      @include text(11px, normal, null, 2px, lightgray);
      @media screen and #{$brk-smallDesktop} {
        display: none;
      }
    }
    @media screen and #{$brk-smallDesktop} {
      @include position(relative, 0% auto 5% auto);
    }
  }
}

.hide {
  @media screen and #{$brk-smallDesktopicons} {
    display: none;
  }
}
