//Comment Box styles

#featuredPost {
  .likesComments {
    @include size(100% 25vh);
    color: white;
    padding:2% 5% 2% 5%;
    opacity: .7;
    background-color: $navBrown;
    overflow: hidden;
    .commentBox {
      text-align: left;
      clear: both;
      textarea {
        border-color: lighten($navBrown, 20%);
        background: $navBrown;
        border-radius: 3px;
        @include size(75% 7vh);
        @include text(14px, null, 20px, null, $white);
        font-family: 'courier';
      }
    }
    .fakeComments .comment1{
      text-align: left;
      overflow: auto;
      margin-top: 15px;
      h3 {
        font-size: 16px;
        margin-bottom: 3px;
        color: black;
      }
      p {
        @include text(14px, null, 20px, null, null);
        margin-top: 5px;
        padding-left: 10px;
      }
    }
  }
}
