// Icon Styles
.navbar {
  img {
    width: 25px;
    opacity: .7;
  }
}


.likesComments {
  overflow: auto;
  display: block;
  img {
    margin-top: 8px;
    width: 25px;
    float: left;
    opacity: .6;
    margin-right: 7px;
  }
  p {
    float: left;
  }
  .likes, .comments {
    display: block;
    float: left;
    margin-right: 5%;
    @media only screen and #{$brk-smallDesktopicons} {
      display: none;
    }
  }
}
