// Icon Styles
.navbar {
  img {
    width: 25px;
    opacity: .7;
  }
}


.likesComments {
  overflow: auto;
  img {
    margin-top: 8px;
    width: 25px;
    float: left;
    opacity: .6;
    margin-right: 7px;
  }
  p {
    float: left;
  }
  .likes, .comments {
    float: left;
    margin-right: 5%;
  }
}

#featuredPost .likesComments {
  width: 100%;
  color: white;
  padding-left: 5%;
  opacity: .9;
  background-color: $navBrown;
}
