*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  @extend %centeredText;
  background: $backgroundWhite;
  font-family: sans-serif;
}

body::-webkit-scrollbar { 
    display: none;
}

a {
  text-decoration: none;
}
